body{-webkit-user-select:none;background-color:#000000;font-family:sans-serif;margin:0;padding:0;overflow:hidden}body div#appContainer{position:absolute;width:100vw;height:100vh;top:0;left:0;background-image:url(../img/poster-calibration.jpg);background-position:50%;background-repeat:no-repeat}body div#appContainer div.active-area{position:absolute;background-color:rgba(255,0,0,0.75);text-align:center;color:#ffffff;font-size:75%}body div#appContainer div.active-area.selected{background-color:rgba(0,128,0,0.75)}body #trigger{dispaly:none}
