//@import 'commons/reset';
@import 'commons/variables';

body{
	-webkit-user-select: none;
	background-color: #000000;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	overflow: hidden;

	div#appContainer {
		position: absolute;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		background-image: url(../img/poster-calibration.jpg);
		background-position: 50%;
		background-repeat: no-repeat;
		// background-size: contain;

		div.active-area {
			position: absolute;
			background-color: rgba(red, .75);
			text-align: center;
			color: #ffffff;
			font-size: 75%;

			&.selected { background-color: rgba(green, .75); }
		}
	}

	#trigger { dispaly: none; }

	div#videoPlayer {

		video {
		}
	}
}